# System Files
Thumbs.db
Desktop.ini
.DS_Store

# IDE & Editor files
.vscode/
.idea/

# Node dependencies (para quando iniciarem Node.js)
node_modules/
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# Logs
*.log
